# Future DigitalOcean production environment placeholders.
COMPOSE_PROJECT_NAME=wood-prod
POSTGRES_ADMIN_USER=
POSTGRES_ADMIN_PASSWORD=
POSTGRES_APP_DATABASE=
POSTGRES_RUNTIME_USER=
POSTGRES_RUNTIME_PASSWORD=
POSTGRES_MIGRATION_USER=
POSTGRES_MIGRATION_PASSWORD=
DO_TOKEN=
CLOUDFLARE_API_TOKEN=
